{% extends "base.html" %}
{% block content %}
    <table class="table">
        <tbody>
            <tr>
              <th>id</th><th>title</th><th>summary</th><th>link</th><th>published</th>
            </tr>
            {% for a_news in news %}
                <tr>
                  <td>{{a_news.id}}</td><td>{{a_news.title}}</td><td>{{a_news.summary}}</td><td>{{a_news.link}}</td><td>{{a_news.published}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

